* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial;
    font-size: 14px;
    color: #666;
}

#header {
    background: #5BB5D9;
    width: 100%;
}

#logo,
#search,
#cart {
    height: 98px;
}

#logo h1 {
    line-height: 98px;
}

.input-search {
    border: 2px solid transparent;
    width: 24em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    /* background-color: #fefefe; */
    border-radius: 10px;
    transition: all 0.5s;
    margin-top: auto;
    margin-bottom: auto;
}

.input-search:hover,
.input-search:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    /* position: absolute; */
    right: 8px;
    width: 38px;
    height: 38px;
    border-radius: 38%;
    background: var(--gradient-2, linear-gradient(90deg, #f2b179b4 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    margin-top: auto;
    margin-bottom: auto;
}

/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}


#search {
    display: flex;
    justify-content: center;
}

#search input {
    margin-top: 30px;
    float: left;
}

#search input[type=text] {
    width: 300px;
    height: 35px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 12px;
    padding-left: 15px;
    margin-left: 30px;
}

#search input[type=submit] {
    height: 35px;
    background: #fff;
    padding: 0 15px;
    border: none;
    color: #ff9600;
    font-size: 12px;
}

@media (min-width: 768px) {

    .navbar-form .input-group .form-control,
    .navbar-form .input-group .input-group-btn {
        width: 100%;
    }
}

#cart {
    /* background: url('../img/home/cart.png') no-repeat center; */

    /* line-height: 98px;
	font-weight: bold; */
    /* justify-content: center; */
    color: #fff;
    display:flex;
    align-items: center;
}

.btn-cart {
    display: flex;

    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
}

.cart-button:hover {
    background-color: #5BB5D9 !important;
    box-shadow: none !important;
    /* transform: none !important; */
}
.cart-button img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}
.cart-button:hover img {
    filter: brightness(0) invert(1) sepia(100%) saturate(10000%) hue-rotate(120deg);
}
.btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
}

.icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: .2s linear;

}

.icon-cart path {
    fill: rgb(240, 8, 8);
    transition: .2s linear;
}

.btn-cart:hover>.icon-cart {
    transform: scale(1.2);

}

.btn-cart:hover>.icon-cart path {
    fill: #F28F6B;
}

.btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
}

.quantity {
    display: none;
}

/* #cart a:first-child{
	color: #fff;
}
#cart a:last-child{
	margin-left: 55px;
	color: #ff6600;
}
@media (min-width: 960px) and (max-width: 1210px){
	#cart a:first-child{
		color: #fff;
	}
	#cart a:last-child{
		margin-left: 40px;
		color: #ff6600;
	}
} */

#body {
    margin-top: 15px;
}

/* #sidebar{
	padding-right: 11px;
padding-left: 12px;
} */
#menu {
    background: #fbfbfb;
    border: 1px solid #ddd;

}

.menu-item {
    list-style: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
}

.menu-item a {
    color: #666;
}

.menu-item:first-child {
    background: #f5f5f5;
    text-transform: uppercase;
}

.menu-item:last-child {
    border: none;
}

.banner-l-item {
    margin-top: 15px;
    max-width: 100%;
}

.banner-l-item img {
    border: none;
    padding: 0;
    border-radius: 0;
}

@media (min-width: 750px) and (max-width: 992px) {
    .menu-item:first-child {
        font-size: 12px;
        font-weight: bold;
    }

    .menu-item {
        font-size: 12px;
    }

    #banner-l-item img {
        min-width: 100%;
    }

}

.banner-t-item {
    margin-top: 15px;
}

.banner-t-item img {
    border: none;
    padding: 0;
    border-radius: 0;
}

.products h3 {
    margin-top: 15px;
    font-size: 18px;
    color: #ff9600;
    text-transform: uppercase;
}

.product-list {
    margin: 0;
}

.product-item {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    position: relative;
}

.product-item img {
    border: none;
    padding: 0;
    border-radius: 0;
}

.product-item:hover .marsk {
    display: block;
}

.product-item img {
    margin-bottom: 15px;
}

.product-item a {
    color: #666;
}

.price {
    font-weight: bold;
    color: #D60000;
}

.marsk {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
    display: none;
}

.marsk a {
    color: #fff;
    position: absolute;
    top: 50%;
    /* left: 0;right:0; margin: auto;width: 100%; cho width de thanh block, vi width là block, a la inline */
    margin-left: -37px;
}

#footer {
    margin-top: 15px;
    width: 100%;
}

#footer-t {
    background: #59A8D9;
    color: #fff;
    padding: 15px 0 0 0;
}

#footer-t h3 {
    font-size: 18px;
    text-transform: capitalize;
}

#footer-b {
    background: #30618C;
    color: #fff;
    font-size: 13px;
    position: relative;
}

#footer-b p {
    margin: 0;
    height: 100px;
    line-height: 100px;
}

#scroll {
    position: absolute;
    top: 0;
    right: 0;
}

/* reponsive */
@media (max-width: 992px) {
    #search {
        display: none;
    }

    #slider {
        display: none;
    }

    #cart {
        margin-left: 300px;
        /* background: url('../img/home/icon-cart.png') no-repeat center; */
        color: #fff;
        line-height: 98px;
        font-weight: bold;
    }

    #cart a:first-child {
        margin-left: -70px;
        color: #fff;
    }

    #cart a:last-child {
        margin-left: 50px;
        color: #ff6600;
    }

    #menu {
        margin-bottom: 20px;
    }

    #v-banner {
        margin-bottom: 10px;
    }

    #h-banner img {
        padding: 10px 0px;
    }

    .list-product h3 {
        text-align: center;
    }

    #footer-logo {
        text-align: left;
    }
}

@media (max-width: 768px) {
    #cart {
        display: none;
    }

    #header {
        text-align: center;
    }

    #scroll {
        display: none;
    }
}

nav a#pull {
    display: none;
}

@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    #logo {
        position: relative;
    }

    nav a#pull {
        display: block;
        float: left;
        background-color: #5BB5D9;
        /* width: 100%; */
        position: absolute;
        top: 50%;
    }

    nav a#pull:after {
        content: "";
        /* background: url('../img/home/nav.png') no-repeat; */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        /* rightright: 15px; */
        top: 0px;
        right: 0;
    }

    #menu {
        border: 0;
    }
}

@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }

    #menu {
        border: 0;
    }

    /*  nav li a {
        border-bottom: 1px solid #576979;
        } */
}

